<div class="login">
  <form method="POST" action="/login">
    <div class="form-group">
      <input type="hidden" name="sendTo" value="{{sendTo}}" />
      <button type="submit">Log in with SolidID</button>
    </div>
  </form>
</div>
